# Compiled output
out/
*.class

# Ignore for now
/src/main/java/database/TourStorageInterface.java
/src/main/java/database/StorageMock.java

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Mac
.DS_Store